@import url('https://fonts.googleapis.com/css?family=Lato:100&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body{
 

  color:#222;
  
  margin:25px;
  
  font-family: 'Vollkorn', serif;
  
}
/* 
header.header{
 
  
}

table.header_menu{
  
  
  
} */

h1{
  
 font-family:'Lato';
  
}

th{
 
  padding-right:30;
  
}

h1.error{
 
  text-align:center;
  font-size:300px;
  margin:0px;
  padding:0px;
  
}

div.err{
 
  text-align:center;
  
}

a{
 
  color:#222;
  text-decoration:none;
  
}

a:hover{
 
  color:#f78fb3;
  text-decoration:none;
  
}

div.container{
  
  max-width:800px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
  
}
table,header{
  
  margin:0px;
  
}

.help{
 
  cursor: help;
  
}

.container p{
 
  font-size:24px;
  vertical-align:middle;
  
}

a span{
 
  font-size:15;
  overflow-x:hidden;
  width:0px;
  opacity:0;
  position:absolute;
  
}

a:hover span{
 
  font-size:15;
  overflow-x:hidden;
  width:0px;
  opacity:1;
  position:relative;
  
}