@import url('https://fonts.googleapis.com/css?family=Lato:100&subset=latin-ext');

header.header{
 
  margin: 25;
  
}

h1{
  
 font-family: 'Lato';
  
}

h1.error{
 
  text-align:center;
  font-size:300;
  margin: 0px;
  padding:0px;
  
}

div.err{
 
  text-align:center;
  height: 100%;
  
}