@import url('https://fonts.googleapis.com/css?family=Lato:100&subset=latin-ext');

header.header{
 
  margin:25px;
  
}

h1{
  
 font-family:'Lato';
  
}

h1.error{
 
  text-align:center;
  font-size:300px;
  margin:0px;
  padding:0px;
  
}

div.err{
 
  text-align:center;
  
}

a{
 
  color:#1e3799;
  text-decoration:none;
  
}

a:hover{
 
  color:#78e08f;
  text-decoration:none;
  
}
div.container{
  
  min-height:calc(100% - 552px - ;
  
}
table{
  
  margin:0px;
  
 